*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.c-demo-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  height: 100vh;
}

.c-demo-section__info {
  flex-shrink: 0;
}

.c-demo-section__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.c-demo-section__title {
  margin-top: 0;
  margin-bottom: 1rem;
  word-break: break-word;
}

.c-demo-section__description {
  max-width: 40rem;
  line-height: 1.6;
}
