{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": 0,
    "no-constant-binary-expression": "error",
    "no-confusing-arrow": 0,
    "no-console": "error",

    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/prop-types": 0,

    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
