@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
#page-view {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
